{% extends "base.html" %}

{% block title %}StarSpin - Главная{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <p class="lead">Сделайте ставку, крутите колесо и выигрывайте звезды!</p>
            {% if not request.cookies.get("access_token") %}
            <div class="mt-4">
                <a href="/register" class="btn btn-primary btn-lg me-2">Регистрация</a>
                <a href="/login" class="btn btn-success btn-lg">Войти</a>
            </div>
            {% else %}
            <div class="mt-4">
                <a href="/game" class="btn btn-primary btn-lg">Играть</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} 